body{
  margin: 0;
  background-color: #ffab00;
  color: #0043af;
}

.flex-container{
  padding: 7% 15%;
}



.cover-content h3{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
}

.cover-content p{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #6e6961;
  font-family: Helvetica, sans-serif;
}

.cover-content{
  margin: 0;
  padding: 1% 15%;
  overflow: hidden;
  position: relative;
}

.cover-content #links{
  display: none;
}

.cover-content a {
  color: #6e6961;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.cover-content a.menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.about p {
  font-family: Helvetica, sans-serif;

}

.decor{
   background-color: #6e6961;
   padding: .2% 15%;
   border-bottom-right-radius: 60%;
   border-top-left-radius: 60%;
}

.footer li{
  list-style: none;
  display: inline-block;
  margin: 0%;
  padding: 0%;
  float: right;
}

.footer li{

   display: inline-block;
   width: 25px;
   min-height: 25px;
   vertical-align: top;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
