body{
  margin: 0;
  background-color: #ffab00;
  color: #0043af;
}

.flex-container{
  padding: 7% 15%;
}

.cover-content{
  margin: 0;
  overflow: hidden;
  position: relative;
}

.cover-content #links{
  display: none;
}

.cover-content a {
  color: #6e6961;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.cover-content a.menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.footer li{
  list-style: none;
  display: inline-block;
  margin: 0%;
  padding: 0%;
}

.footer li{

   display: inline-block;
   width: 25px;
   min-height: 25px;
   vertical-align: top;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
