body{
  margin: 0;
  background-color: #ffab00;
  font-family: 'Montserrat', sans-serif;
  color: #0043af;
}

div{
  padding: 7% 15%;
}

.cover-content h3{
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.cover-content p{
  margin: 0;
  padding: 0;
}

.cover-content{
  margin: 0;
}

.footer a{
  display: block;
  float: right;
  width: 5%;
  font-size: 1rem;
}

.footer li{
  list-style: none;
}
.footer{
  text-align: center;
  margin: 0;
}
.footer p{
  font-size: 1rem;
}

/*@media only screen and (max-width: 600px) {
  .skills li{
    list-style: none;
  }

  .skills a{
    display: block;
    float: left;
    width: 25%;
    font-size: 1rem;
  }

  .contact a{
    display: block;
    float: left;
    width: 25%;
    font-size: 1rem;
  }

  .contact li{
    list-style: none;
  }
}*/

/*@media (prefers-color-scheme: light) {
  body{
    background-color: #ecf0f1;
  }
  .contact, .about{
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: black;
  }
  h3{
    color: #dfe6e9;
  }
  p{
    color: #b2bec3;
  }
  .contact, .about{
    background-color: #0f0f0f;
  }
}*/
